html {
    font-family: sans-serif;
}

h1, canvas {
    text-align: center;
    margin: 3px auto;
}

#controls {
    text-align: center;
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    flex-direction: column;
}

#controls label {
    text-align: right;
    display: block;
}

#controls input {
    width: 8ex;
    margin: 0px;
    padding: 0px;
}

#controls > button {
    flex: 0.5;
}

#viewport {
    position: relative;
    background-color: #AAA;
    border: 1px solid black;
    overflow: hidden;
    padding: 0px;
    margin: 0px auto;
}

#viewport canvas {
    position: absolute;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

#fps {
    background-image: url(dockapp.png);
}
